:root {
    --mainBg: #000;
    --mainCl: #ededed;
    --basebg: #42404044;
    --border: #66666649;
    /* --basebg1: #42404019; */
    color-scheme: dark;
}

body {
    position: fixed;
    background: var(--mainBg);
    color: var(--mainCl);
    transition: .2s ease-in-out;
    touch-action: none;
    -ms-touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    overflow: hidden;
}

@media (prefers-color-scheme: light) {
     :root {
        --mainBg: #ededed;
        --mainCl: #000;
        --basebg: #ffffffb4;
        --border: #88888815;
        color-scheme: light;
    }
}

.brd {
    border: 1px solid var(--border);
}

video {
    pointer-events: none;
}

video::-webkit-media-controls {
    display: none;
}

img {
    pointer-events: none;
}

.vpreinad {
    transform: rotateY(-180deg);
}