:root {
    --mainBg: #000;
    --mainCl: #ededed;
    --basebg: #42404044;
    --border: #66666649;
    --deep: #424040;
    /* --basebg1: #42404019; */
    color-scheme: dark;
}

body {
    position: fixed;
    background: var(--mainBg);
    color: var(--mainCl);
    transition: .2s ease-in-out;
    touch-action: none;
    -ms-touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    overflow: hidden;
}

@media (prefers-color-scheme: light) {
     :root {
        --mainBg: #ededed;
        --mainCl: #000;
        --basebg: #ffffffb4;
        --border: #88888815;
        --deep: #ffffff;
        color-scheme: light;
    }
}

.brd {
    border: 1px solid var(--border);
}

video {
    /* pointer-events: none; */
    display: flex;
    align-items: center;
    justify-content: center;
}


/* video::-webkit-media-controls {
    display: none;
} */

img {
    pointer-events: none;
}


/* .vpreinad {
    transform: rotateY(-180deg);
} */

.stdadinad {
    flex-direction: column-reverse;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 5px;
}

.gridStocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 5px;
}

.dianakestream {
    flex: 1 1 20rem;
    height: 400px;
    overflow: auto;
}

@media screen and (max-width: 800px) {
    .dianakestream {
        flex: 1 1 15rem;
    }
}

@media screen and (max-width: 600px) {
    .dianakestream {
        flex: 1 1 10rem;
    }
    .stdadinad {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
    .gridStocks {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
}

@media screen and (max-width: 450px) {
    .gridStocks {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}

div::-webkit-scrollbar {
    display: none;
    transition: .3s ease-in-out;
}

div:hover::-webkit-scrollbar {
    background: var(--basebg);
    width: 5px;
    height: 5px;
    display: block;
}

::-webkit-scrollbar-thumb {
    background: var(--border);
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    background: var(--border);
}

ul::-webkit-scrollbar {
    display: none;
    transition: .3s ease-in-out;
}

ul:hover::-webkit-scrollbar {
    background: var(--basebg);
    width: 5px;
    height: 5px;
    display: block;
}

::-webkit-scrollbar-thumb {
    background: var(--border);
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    background: var(--border);
}

.bigx {
    opacity: 0;
    transition: 100ms ease-in-out all;
    visibility: hidden;
    pointer-events: none;
}

.fileconteinrasd:hover .bigx {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
}

.dropdownitm {
    color: var(--mainCl);
    font-size: 13px;
    cursor: pointer;
}

.dropdownitm:hover {
    background: var(--border);
    color: var(--mainCl);
}

.flexaidna {
    flex: 1 1 20rem;
}

.Main {
    position: relative;
}

.Main::before {
    content: '';
    width: .5px;
    height: 100%;
    background: var(--basebg);
    position: absolute;
    top: 0px;
    left: 5px;
}

.brd2 {
    border-top: .5px solid var(--border);
    border-bottom: .5px solid var(--border);
}

.showani {
    animation: ani 1s ease-in-out infinite alternate;
    transition: .3s ease-in-out;
}

@keyframes ani {
    0% {
        filter: brightness(300%);
    }
}

.gridPotte {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2px;
}

.untopcontainer:hover .messtimes {
    opacity: 0;
    visibility: hidden;
}

.messtimes {
    opacity: 1;
    transition: all .3s ease-in-out;
}

.fileuploadpathssd {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2px;
}

@media screen and (max-width: 600px) {
    .fileuploadpathssd {
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    }
}